*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.header{
    border:1px solid hsl(0, 0%, 80%);
    max-height: 250px;
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-ul{
    display: flex;
    text-decoration: none;
    gap: 50px;
    /* justify-content: space-between; */
}
.header-li{
    list-style: none;
}
.header-li a{
    text-decoration: none;
    color: hsl(0, 0%, 20%) ;
}
.parentAbout{
    border: 1px solid hsl(0, 0%, 80%);
    min-height: 350px;
    width: 100%;
}
.about{
    font-size: 3vw;
    padding-top: 20px;
    color: hsl(0, 0%, 20%);
    text-align: center;
}
.display{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.display-left{
    margin-top: 20px;
    margin-bottom: 20px;
  height: 400px;
  min-width: 40%;
  border-radius: 10px;
}
.bolder{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bolder;
    color: #5d5d5d;
}
.display-right{
    margin-top: 40px;
    width: 60%;
    color: #5d5d5d;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.5;
}
.serviceBox{
    border:1px solid hsl(0, 0%, 80%);
    min-height: 250px;
    width: 100%;
}
.service{
    font-size: 3vw;
    padding-top: 20px;
    color: hsl(0, 0%, 20%);
    text-align: center;
}
.ul-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.listitem{
    list-style: none;
    color: #5d5d5d;
    padding-left: 55px;
    font-size: 1.8vw;
}
.listitem1{
    list-style: none;
    color: hsl(0, 0%, 20%);
    font-size: 1.8vw;
}
.listitem2{
    list-style: none;
    color: hsl(0, 0%, 20%);
    font-size: 1.8vw;
    padding-right: 20px;
}
.listitem3{
    list-style: none;
    color: hsl(0, 0%, 20%);
    font-size: 1.8vw;
    padding-right: 80px;
}
.parentCards{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 300px;
    margin: 20px;
  display: inline-block;
  cursor: pointer;
}
.card:hover{
    transform: translateY(-20px);
    transition: ease-in-out;
    transition-duration: .5s;
}
.card .mypic{
    height: 165px;
    width: 170px;
    border-radius: 50%;
    border: 150px sollid black;
    margin-bottom: 10px;
}
.card .heading{
    color: hsl(0, 0%, 20%);
    margin-bottom: 10px;
}
.card .para{
    color: #5d5d5d;
}
.footer{
    max-height: 100px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}